aiohttp==3.8.1
backoff==2.1.2
celery[amqp]==5.2.7
clickhouse-driver==0.2.3
elasticsearch==7.17.4
orjson==3.7.2
pydantic==1.9.1
requests==2.27.1
python-dotenv==0.20.0
loguru==0.6.0
pandas==1.4.2
lightfm==1.16
matplotlib==3.5.2
